@model ZCMS.Core.Business.Content.TagsProperty
<div class="tags-property">
    <h2>
        Tags:
    </h2>
    @foreach (var tag in (List<string>)Model.PropertyValue)
    {
        <div class="tag">@tag</div>
    }
</div>

