@media only screen and (max-width: 850px) {
    .menu-item a, .menu-item a:hover {
        background-image: none !important;
        text-indent: 0px !important;
        text-align: center !important;
    }

    #page {
        width: 100% !important;
    }

    #left-area {
        width: auto !important;
    }

    #content-area {
        width: auto !important; 
        padding: 0 1em 0 1em !important;      
    }

    #content-area div {
        padding: 0 !important;
    }

    #right-area {
        display: none !important;
    }
}

* {margin:0;padding:0;} 

html, body {
    font-family: Titillium Web, sans-serif;
    font-size: 1.2em;
    height: 100%;
}

#page {
    min-height: 100%;
    width: 75%;
    margin: 0 auto;
}

#page-inner {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

a {
    color: #8a0d65;
}

#header {
    height: 36px;
    background: #002;
}

#header > div {
    font-size: large;
    color: #fff;
    font-weight: bold;
    padding: 5px 0 0 5px;
    float: left;
    vertical-align: middle;
    
}

#main-area {
}


#footer {
}

#left-area {
    width: 25%;
    float: left;
    padding: 1em 0;
}



#theme-area {
    width: 100%;
    background: url('/content/frontend/images/blogtheme.jpg');
    height: 125px;
    display: inline-block;
    text-align: right;
}

.blog-introduction {
    width: 85%;
    color: #442359;
    font-style: italic;
    font-size: medium;
    padding: 1.5em 1em 0 1em;
    font-weight: bold;
    
}

#content-area {
    width: 75%;
    float: left;
    padding-top: 1em;
}

#menu {
    width: 100%;
    height: 60px;
}

.menu-item {
    width: 25%;
    float: left;
    height: 100%;
    line-height: 60px;
    background-color: #002;
}

.menu-item a {
    background: url('/content/frontend/images/home-welcome-arrowwhite.png') 15% 18px no-repeat;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-indent: 15%;
    width: 100%;
    text-align: center;
}

.menu-item a:hover {
    background: url('/content/frontend/images/home-welcome-arrowwhite.png') 15% 18px no-repeat;
    background-color: #66b3c8;
    text-indent: 15%;
    text-align: center;
}

.tag {
    padding: .5em;
    margin: .5em;
    background: #c77;
    float: left;   
    font-size: .7em; 
}

.tag:hover {
    background: #c44;
}

.ArticleHeading, .ListingHeader {
    font-size: 2.2em;
    font-weight: bold;
    padding: 0 0 .25em 0;
}

.byline {
    font-size: small;
    color: #999;
    padding: 0 0 .25em 0;
    border-bottom: 1px solid #999;
    font-style: italic;
}

.Introduction {
    font-weight: bold;
    padding: .5em 0 1.5em 0;
}

.content-property {
    padding: .5em 0 1em 0;
}

.imagelist-property {
    width: 100%;
    float: left;
}

.imagelist-image {
    float: left;
}

.imagelist-image img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.tags-property {
    padding: .5em 0 .5em 0;
    margin-bottom: 3.5em;
}
.tags-property span {
    padding: 0 .5em 0 0;
}



