@model List<string>
@{
    
    var items = Model;
    
}
<script type="text/javascript">
    var item = @Html.Action("GetImages", "File", new { key = items })
</script>
<div class="editor-image-container" data-bind="foreach: images">
        <div class="unit-imagelist">
        <img width="75px" src="" data-bind="attr: {src: imagePath}" />
            <div class="delete-it">
                <a href="javascript:void(0);" data-bind="click: $root.removeImage">delete</a>
            </div>
        </div>
    
</div>
