@model List<string>
@{
    
    var items = Model;
    
}

<div class="editor-image-container">
@if(items != null) {
    foreach (string o in items)
    {
        
        <div class="unit-imagelist"><img src="@Url.Action("GetCurrentImage", "Backend", new { key = o.ToString() })" alt="" /></div>        
    }
}
</div>