@model List<string>
<div class="publish-menu-wrapper">
    <div class="publish-menu-title">
        <h2>@CMS_i18n.BackendResources.FilesMenuHeading</h2>
    </div>
    <div class="publish-menu-pagetypes">
        @foreach(var item in Model) {
        <div class="publish-menu-pagetype">
            + @Html.ActionLink(item, "FileManager", new { pageType = item })
        </div>
        }
    </div>

</div>
