
<div id="LeftAdminMenuWrapper">

    <div id="LeftAdminMenu">
        <div class="LeftAdminWelcome">

            <div class="LeftAdminWelcomeHeader">
            @CMS_i18n.BackendResources.LeftMenuWelcome
            </div>
            <div class="LeftAdminWelcomeText">
                @CMS_i18n.BackendResources.LeftMenuWelcomeText
            </div>
            
        </div>
    </div>

</div>