@model ZCMS.Core.Business.ZCMSPageTypes
@{
    ViewBag.Title = "Page Type Editor";
    Layout = "~/Core/Backend/Views/Shared/_backendLayout.cshtml";
}

<div class="editor-controls-wrap">

@ViewBag.Title
</div>
